.nav-item .nav-link{
  text-decoration: underline;
  text-underline-position: under;
}
.margin-top{
  margin-top: .5rem;
}
.form-group{
  padding: 0.6rem 0;
}
.form-group label{
  padding-bottom: .3rem;
}
.nav-link{
  color: #fff;
}
.btn-space{
  margin-right: 10px;
}